body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
}
h1{
    font-size: 50px;
}
a:link{
    color: black;
}
a:visited{
    color: white;
}
a:hover{
    color: blue;
}
span{
    color: red;
    font-weight: bold;
}
table{
    text-align: center;
    margin: auto;
    width: 50%;
    height: 10%;
    border-spacing: 0;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #f8d786;
}
tr:nth-child(odd){
    background-color: #f7b578;
}

th,td{
    padding: 12px;
}
div.list{
    border:3px solid black;
    width:25%;
    height:auto;
    background-color: #f8d786;
    padding: 10px;
    display: table-cell;
}
.image-container{
    text-align: center;
    height: 60%;
    width: 50%;
    margin: auto;
}
.image-container img{
    height: 80%;
    width:40%;
}
.container{
    text-align: center;
    background-color: #f7b578;
    bordeR: 3px solid black;
}
.container-table{
    display: table;
    width: 100%;
}
.bold{
    font-weight: bold;
}

